.App {
  padding: 15px;
  text-align: left;
  min-height: 100vh;
  background: linear-gradient(to bottom left, #ff33cc 10%, #0000ff 70%);
  justify-content: center;
  color: white;
}

.chat_box {
  border: 2px #222222;
  border-radius: 5px;
  width: 500px;
  height: 500px;
  margin: auto;
}

.overflow {
  overflow: auto;
  height: 400px;
  background-color: #222;
  border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 5px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
  border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray;


}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.message {
  border: 2px solid #222;
  border-radius: 9px;
  font-size: 12px;
  font-weight: inherit;
  margin: 10px 20px 5px 20px;
  padding: 7px;
  background-color: dimgray;
}

.msg-info {
  font-size: 10px;
  opacity: 50%;
}

.me-auto {
  padding: 5px;
  color: #222222;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.btn {
  float: right;
  margin-top: 10px;

}
