.App {
  text-align: left;
  background: linear-gradient(to top right, #0033cc 0%, #ff33cc 100%);
  min-height: 100vh;
}

.box {
  background-color: #222;
  width: 500px;
  height: 530px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 9px;
}

.message {
  border: 2px solid #222;
  border-radius: 9px;
  font-size: 12px;
  font-family: Arial;
  font-weight: inherit;
  margin: 10px 20px 5px 20px;
  padding: 7px;
  background-color: dimgray;
}

.msg-info {
  font-family: Arial;
  font-size: 10px;
  opacity: 50%;
}

.me-auto {
  margin: 10px 20px 5px 20px;
  padding: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(to bottom left, #ff33cc 0%, #0000ff 80%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
